# Email (SMTP / Mailjet)
EMAIL_HOST=in-v3.mailjet.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

EMAIL_HOST_USER=MAILJET_PUBLIC_KEY
EMAIL_HOST_PASSWORD=MAILJET_SECRET_KEY

DEFAULT_FROM_EMAIL=thesis.check.platform@proton.me
